<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello User</title>
</head>
<body>
    <!-- Ahora accedemos normalmente a las variables -->
    {% if user_ip%} <!-- Estructuras de control -->
    <h1>Tu IP es {{user_ip}}</h1> <!-- Tomamos user_ip y lo mostramos en el template -->
    {% else %}
    <a href="{{url_for('index')}}">Ir al Inicio</a>
    {% endif %}
    <ol>
        {% for todo in todos %} <!-- Ciclos -->
        <li>{{todo}}</li>
        {% endfor %}
    </ol>
</body>
</html>