{% extends 'base.html' %}

{% block title %}
    {{super()}}
    Bienvenido
{% endblock %}

{% block content %} 
<!-- Ahora accedemos normalmente a las variables -->
{% if user_ip%} <!-- Estructuras de control -->
<h1>Tu IP es {{user_ip}}</h1> <!-- Tomamos user_ip y lo mostramos en el template -->
{% else %}
<a href="{{url_for('index')}}">Ir al Inicio</a>
{% endif %}
    <ol>
        {% for todo in todos %} <!-- Ciclos -->
        <li>{{todo}}</li>
        {% endfor %}
    </ol>
{% endblock %}   