{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}
<!-- Bloques de contenido para poder mandarlo a un template padre -->
{% block title %}
    {{super()}}Bienvenido
    {% endblock %}
<!-- Bloques de contenido para poder mandarlo a un template padre -->
{% block content %}
    {% if username %}
        <h1>Bienvenido {{username | capitalize}}</h1>
    {% endif %}
    <!-- Ahora accedemos normalmente a las variables -->
    {% if user_ip%} <!-- Estructuras de control -->
    <h3>Tu IP es {{user_ip}}</h3> <!-- Tomamos user_ip y lo mostramos en el template -->
    {% else %}
    <a href="{{url_for('index')}}">Ir al Inicio</a>
    {% endif %}
        <ol>
            {% for todo in todos %} <!-- Ciclos -->
            {{ macros.render_todo(todo) }}
            {% endfor %}
        </ol>
    <div class="container">
        <!-- <form action="{{url_for('hello')}}" method="POST">
            {{login_form.username.label}}
            {{login_form.username}}
            {{login_form.password.label}}
            {{login_form.password}}
            {{login_form.submit}}
        </form> -->
        {{wtf.quick_form(login_form)}}
    </div>
{% endblock %}   