{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}
<!-- Bloques de contenido para poder mandarlo a un template padre -->
{% block title %}
    {{super()}}Bienvenido
    {% endblock %}
<!-- Bloques de contenido para poder mandarlo a un template padre -->
{% block content %}
    <div class="container">
    {% if username %}
        <h1>Bienvenido {{username | capitalize}}</h1>
    {% endif %}
    <!-- Ahora accedemos normalmente a las variables -->
    <!-- Aquì desplegamos el campo para crear nuevas tareas, debo de encontrar la manera de mantenerlo oculto hasta que
    haya un clic sobre un botón -->
    <div class="container">
        <h2>Crar una tarea</h2>
        {{wtf.quick_form(todo_form)}}
    </div>
    <div class="container">
        <h2>Lista de Tareas</h2>
        <ul class="list-group">
            {% for todo in todos %}
                {{ macros.render_todo(todo, delete_form, update_form) }}
            {% endfor %}
        </ul>
    
    </div>
</div>
{% endblock %}   